boto3==1.16.32
botocore==1.19.32
jmespath==0.10.0
prometheus==0.3.0
protobuf-py3==2.5.1
psutil==5.7.3
python-dateutil==2.8.1
quantile-python==1.1
requests==2.5.1
s3transfer==0.3.3
six==1.15.0
urllib3==1.26.2
